{% load static %}
<!doctype html>
<html>
    <head>
        <style>
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >

    </head>
<body>
<nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Item Details</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store:item-index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>



<form action='.' method='POST'> {% csrf_token %}

<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand">
    {{item.item_name}}
  </span>
</nav 
  <div class = 'control-form col-md-4 mycols m-1'>
<ul>

    <div class="form-group row">
    <div class="row">
    <div class="col">
    <label for="item_cost" class="col-form-label control-form">Item Margin</label>
    <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext control-form" id="item_cost" value="{{item.item_margin}} %">

    </div>
  </div>

    <div class="form-group row">
    <label for="item_cost" class="col-form-label control-form">Item Cost/Piece</label>
    <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext control-form" id="item_cost" value="{{item.item_cost}}">

    </div>
  </div>

       <div class="form-group row">
    <label for="item_price" class="col-form-label control-form">Item Price/Piece</label>
    <div class="col-sm-10">
    <input type="text" readonly class="form-control-plaintext control-form" id="item_price" value="{{item.item_price}}">
    </div>
    </div>
    </div>

  </div>
    <a href = '{% url 'store:item-index'%}' <button type="button"class="btn btn-dark">Update</button> </a>
</div>
</form>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>
