
{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >

    </head>
<body>
<nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Home</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    </ul>
    

  </div>
</nav>
<div class='container mt-2'>
  <form method='GET' class="form-inline my-2 my-lg-0">
  <a  href={% url 'store:item-create' %}>
  <button type="button" class="btn btn-outline-primary my-2 my-sm-2" style='margin-right:10px'>New Item</button>
  </a>
        {{ filter.form }}
      <button class="btn btn-outline-primary my-2 my-sm-2" type="submit">Search</button>
    </form>
</div>


<form action='.' method='POST'> {% csrf_token %}
<div class='container mt-1 mb-1'>

<table id="item_table" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
<thread>
  <div class = 'control-form col-md-4 mycols m-1'>
<tr>
    <th scope="col" style='text-align:center'>#</th>
    <th scope="col">Item Name</th>
    <th scope="col">Item Cost</th>
    <th scope="col">Item Price</th>
</tr>
</thead>
<tbody>

    <style type="text/css">td a { display: block; width: 100%; height: 100%; }</style>
    {% for item in filter.qs %}
      <tr>
        <td style='text-align:center'>{{ forloop.counter }}</td>
        <td ><a href='{%url 'store:item-create' item.id %}'> {{item.item_name}} </a></td>
        <td>{{item.item_cost}}</td>
        <td>{{item.item_price}}</td>
      </tr>
    {% endfor %}  

  </tbody>
</table>
</div>
</div>
</div>
</form>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script>
    </script>

</body>
</html>
