{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
        <script src={% static 'js/item_create.js' %} type='text/javascript'></script>  
        <script src={% static 'css/item_create.css' %} type='text/css'></script>
    </head>
<body style='background: #00a0d8'>
<nav class="navbar navbar-expand-lg navbar sticky-top navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand">Create Item</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'store:item-index' %}">Item List <span class="sr-only">(current)</span></a>
      </li>
    </ul> 
  </div>
</nav>



<form id='create_form' action='.' method='POST'> {% csrf_token %}
<div class='container'>
  <div class = 'control-form col-md-4 mycols m-1'>
    <label for="colFormLabelSm"  class="col-form-label col-form-label-sm" onClick='remove_string()' >{{ form.as_p }}</label>

  <input id='save_button' class="mx-auto btn btn-primary btn-lg active" type="submit" style='visibility:hidden' value="Save">
  </div>
  </div>
</form>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

        <script>
    $("#create_form").on("input", function() {
        document.getElementById('save_button').style.visibility = 'visible';
    });
    </script> 


</body>
</html>
