<!DOCTYPE html> 
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <title>Document</title>
</head>
<body style='background-color: #005793;'>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <a href="{% url 'logout' %}" class="btn btn-outline-dark">Logout</a>
          </form>
        </div>
      </nav>
    </br></br> 
      <div class='container-sm'>
      <div class="card-deck">
    <div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <center>
  <img src="{% static 'insert-coin.png' %}" class="card-img-top" style='max-width:20%;';>
  </center>
  <div class="card-body" style='text-align:center; padding:5px;'>
    <h5 class="card-title">Point of Sale</h5>
    <a href="{% url 'store:create-order' %}" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>
  <div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <center>
  <img src="{% static 'warehouse.png' %}" class="card-img-top" style='max-width:20%' alt="...">
</center>
<div class="card-body" style='text-align:center; padding:5px; '>
    <h5 class="card-title">Inventory</h5>
    <a href="#" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>
   <div class="card text-white bg-dark mb-3" style="width: 18rem;">
    <center>
  <img src="{% static 'plus.png' %}" class="card-img-top" style='max-width:20%' alt="...">
    </center>
    <div class="card-body" style='text-align:center; padding:5px;'>
    <h5 class="card-title">Items</h5>
    <a href="{% url 'store:item-index' %}" class="btn btn-primary stretched-link">Go somewhere</a>
  </div>
</div>
</div>
</div>
</body>

</html>