
.search-bar {
    margin-left: 10px;
}

.table {
    margin-left: 10px;
}
.my-custom-scrollbar {
    position: relative;
    height: 750px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}

