
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
    <title>Login</title>
</head>
{% comment %} <body style='background-color: #005793;'>

 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
      </nav>
      </br>
    <form method='POST' style='justify-content: center;'>{%csrf_token%}
        {{form}}
       <input type='submit' />
    </form>
</body> {% endcomment %}

<body style='background: #005793'>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <form class="form" action="" method="post">{%csrf_token%}
                            {{ form }}
                            </br>
                            <div class="form-group">
                                {% comment %} <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br> {% endcomment %}
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                                <div id="register-link" class="text-right">
                                <a href="{% url 'signup' %}" class="text-info">Register here</a>
                            </div>
                            </div>
                            
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>