 {% load static %}
 <!DOCTYPE html>
<html lang='en'>
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
     <title>Signup</title>
</head>

<body style='background-color:  #005793;'>
<form method="POST"> {% csrf_token %}
 <h3 class="text-center text-white pt-5">Sign up Form</h3>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="col-md-12">
   {{ form }}
   </br>
     <input type="submit" name="submit" class="btn btn-info btn-md" value="Register" style='width: 150px'>
    </br>
    <div id="register-link" class="text-right">
    <a href="{% url 'login' %}" class="text-info">Already have an account</a>
    
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</form>
</body>
</html>


 {% comment %} {% load static %}
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" >
     <title>Login</title>
 </head>
 <body>
     <div id="login">
         <h3 class="text-center text-white pt-5">Login form</h3>
         <div class="container">
             <div id="login-row" class="row justify-content-center align-items-center">
                 <div id="login-column" class="col-md-6">
                     <div id="login-box" class="col-md-12">
                         <form id="login-form" class="form" action="" method="post">{%csrf_token%}
                             <h3 class="text-center text-info">Sign Up</h3>
                             <div class="form-group">
                                 <label for="username" class="text-info">Username:</label><br>
                                 {{form.username}}
                             </div>
                             <div class="form-group">
                                 <label for="password" class="text-info">Email:</label><br>
                                 {{form.email}}
                             </div>
                             <div class="form-group">
                                <label for="username" class="text-info">Confirm Email:</label><br>
                                {{form.email2}}
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                {{form.password}}
                            </div>
                             <div class="form-group">
                                 <center>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Register" style='width: 150px'>
                                                                <div id="register-link" class="text-right">
                                    <a href="{% url 'login' %}" class="text-info">Already have an account</a>
                                </div>
                                </center>

                             </div>
                         </form>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 </body>
 </html> {% endcomment %}