{% load render_table from django_tables2 %}
<h5 class="card-title">Order Detail</h5>
<div class="table-responsive">
    {% render_table order_items %}
</div>
<div class="col-md-12">
    <div class="pull-right m-t-30 text-right">
        <h3><b>Total :</b> {{ instance.total_price }}</h3>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="text-right">
        {% comment %} <a href="{% url 'done_order' instance.id %}" class="btn btn-success" type="submit"> Done </a> {% endcomment %}
        {% comment %} <a onclick="return confirm('Are you sure?')" href="{% url 'delete_order' instance.id %}" class="btn btn-danger">Delete</a>   {% endcomment %}
    </div>
</div>
<script>
    $('.edit_button').click(function (evt) {
        evt.preventDefault();
        const btn = $(this);
        const url = btn.attr('data-href');
        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'json',

            success: function (data) {
                $('#order_item_container').html(data.result)
            }
        })
    });
</script>
